<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Servers</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
</head>
<body >
<form action="#" th:action="@{/topics}"  method="post">
<br/>
<div class="container">
 <div class="form-group">
  <div class="row">
  <div class="col-md-4">
    </div>
    <div class="col-md-2">
    	<label for="serverInput">Add source server</label>
    	<input id="serverInput" type="text" name="server" th:value="${server}"/>
    </div>
    </div>
  </div>
   <!--  <div class="form-group">
    <div class="row">
    <div class="col-md-2">
    	
    	</div>
    	<div class="col-md-2">
    	
    </div>
    <div class="col-md-4">
	    	 <select class="form-control" name="server"  id="serverId">
	    <option value="0">--Select--</option>
	    <option th:each="server : ${servers}" th:value="${server}" th:text="${server}"></option>
	    </select>
    </div>
    </div>
  </div> --> 
  <div class="form-group">
  <div class="row">
  <div class="col-md-4">
    </div>
    <div class="col-md-4">
    	<input type="submit" class="button" value="Connect" />
    </div>
    </div>
  </div>
  </div>
</form>
</body>
</html>