<!DOCTYPE html>
<html>
<title>Kafka</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<head>
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
<script src="jquery.min.js"></script>
<script>
$(document).ready(function(){
$('#div1').hide();
$('#div2').hide();
  $("#myBtn").click(function(){
   var str = $("#myInput").val();
   if(str==""){
	   alert("Enter Port");
	   return ;
   }
    $.ajax({
	  //url: "https://reqres.in/api/users/2",
	  url: "http://localhost:8080/api/testConnection?server="+str,
	  cache: false,
	  success: function(html){
	  if(html){
	  $('#div1').show();
	  $('#div2').show();
	  $('#div3').hide();
		$("#div1").html("Connection Sucessfully..");
		}
	  }
	});
  });
   $("#myBtnredirect").click(function(){
   var str = $("#myInput").val();
   var str1 = $("#myInput1").val();
   sessionStorage.setItem('target',str1);
   window.location.href = 'topics.html?server='+""+str;
    
  });
 
});
</script>
<style> 
        .GFG { 
            background-color: white; 
            border: 2px solid black; 
            color: green; 
            padding: 5px 10px; 
            text-align: center; 
            display: inline-block; 
            font-size: 20px; 
            margin: 10px 30px; 
            cursor: pointer; 
        } 
    </style>
</head>
<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-blue w3-card">
    <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    
    <img src="1.jpg" style="width:75">
    <a href="javascript:void(0)" class="w3-padding-large w3-hover-red w3-hide-small w3-right"></a>
  </div>
</div>

<!-- Navbar on small screens (remove the onclick attribute if you want the navbar to always show on top of the content when clicking on the links) -->


<!-- Page content -->
<div class="w3-content" style="max-width:2000px;margin-top:46px">

  <!-- Automatic Slideshow Images -->
  <div class="mySlides w3-display-container w3-center">
    
    <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small">
	
      
    </div>
  </div>
  
  
  </div>

  <!-- The Band Section -->
  <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="band">
   
   <div id="div1" > 

</div> 
<div id="div2"> 
<!-- <button class="GFG"   -->
    <!-- onclick="window.location.href = 'topics.html';">   -->
        <!-- Proceed  -->
    <!-- </button>  -->
	<button class="GFG"    type="button" id="myBtnredirect"
    >   
        Proceed 
     </button> 
</div> 
<div id="div3"> 
<label>Enter Source Server:</label> 
<input type="text" id="myInput"> 
</br>
</br>
<label>Enter Target Server:</label> 
<input type="text" id="myInput1"> 
</br>
  <button  class="GFG" type="button" id="myBtn">Test Connection</button> 
</div> 
    <!-- <div class="w3-row w3-padding-32"> -->
      <!-- <div class="w3-third"> -->
       <!-- <button class="GFG"  -->
    <!-- onclick="window.location.href = 'connection.html';">  -->
        <!-- Let's Start   -->
    <!-- </button>  -->
      <!-- </div> -->
     
    <!-- </div> -->
  </div>

  
  
<!-- End Page Content -->
</div>

<!-- Image of location/map -->


<!-- Footer -->
<!-- <footer class="w3-container w3-padding-64 w3-center w3-opacity w3-light-grey w3-xlarge"> -->
  
  <!-- <p class="w3-medium">Powered by <a href="#" target="_blank">Cognizant</a></p> -->
<!-- </footer> -->

<script>
// Automatic Slideshow - change image every 4 seconds
var myIndex = 0;
carousel();

function carousel() {
  var i;
  var x = document.getElementsByClassName("mySlides");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";  
  }
  myIndex++;
  if (myIndex > x.length) {myIndex = 1}    
  x[myIndex-1].style.display = "block";  
  setTimeout(carousel, 4000);    
}

// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}

// When the user clicks anywhere outside of the modal, close it
var modal = document.getElementById('ticketModal');
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>

</body>
<!-- <body> -->


<!-- <div id="div1" > -->

<!-- </div> -->
<!-- <div id="div2"> -->
<!-- <button class="GFG"  -->
    <!-- onclick="window.location.href = 'topics.html';">  -->
        <!-- Proceed -->
    <!-- </button> -->
<!-- </div> -->
<!-- <div id="div3"> -->
<!-- <label>Enter Source Server:</label> -->
<!-- <input type="text" id="myInput"> -->
  <!-- <button type="button" id="myBtn">Test Connection</button> -->
<!-- <div> -->
<!-- </body> -->
</html>